<!--suppress HtmlUnknownTarget -->
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>Home Two || Oganik || HTML Template For Organic Stores</title>

<link href="assets/images/favicons/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
<link href="assets/images/favicons/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
<link href="assets/images/favicons/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
<link href="assets/images/favicons/site.webmanifest" rel="manifest">
<meta content="Agrikon HTML Template For Agriculture Farm & Farmers" name="description">

<link href="https://fonts.gstatic.com" rel="preconnect">
<link href="../../../css2?family=Homemade+Apple&family=Abril+Fatface&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet">
<link href="assets/vendors/bootstrap/bootstrap.min.css" rel="stylesheet">
<link href="assets/vendors/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
<link href="assets/vendors/animate/animate.min.css" rel="stylesheet">
<link href="assets/vendors/fontawesome/css/all.min.css" rel="stylesheet">
<link href="assets/vendors/jarallax/jarallax.css" rel="stylesheet">
<link href="assets/vendors/organik-icon/organik-icons.css" rel="stylesheet">
<link href="assets/vendors/jquery-magnific-popup/jquery.magnific-popup.css" rel="stylesheet">
<link href="assets/vendors/nouislider/nouislider.min.css" rel="stylesheet">
<link href="assets/vendors/nouislider/nouislider.pips.css" rel="stylesheet">
<link href="assets/vendors/odometer/odometer.min.css" rel="stylesheet">
<link href="assets/vendors/swiper/swiper.min.css" rel="stylesheet">
<link href="assets/vendors/tiny-slider/tiny-slider.min.css" rel="stylesheet">

<link href="assets/css/organik.css" rel="stylesheet">
