.img-fluid {
    height: 250px;
}

.product-sidebar__links li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--thm-color);
    font-size: 16px;
}

.cart-page .button-box {
    flex-direction: row-reverse;
}